# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Database files
db.sqlite3

# Static files
staticfiles/

# Media files
media/